/* 
 * Plugin Name: X Theme Phone Icon
 * The CSS styles
 */
.x-phone-icon {
    top: 0px;
    position: absolute;
    left: 0px;
    margin: 7px;
}
.x-phone-icon img {
   width: 44px;
   margin-top: 0px;
}
.x-navbar a.x-btn-navbar {
    top: 0px;
    position: absolute;
    right: 0px;
}

@media (min-width:381px) and (max-width:979px) {
 .x-brand img {
    width: 210px!important;
    margin-left: 4vw;
 }
 .x-brand {
    float: none;
    width: 230px;
    margin-left: auto!important;
    margin-right: auto!important;
 }
}

@media (min-width:980px) {
 .x-phone-icon {
    display: none;
 }
}

@media (min-width:325px) and (max-width:380px) {
 .x-brand {
    float: none;
    width: 180px;
    margin-left: auto!important;
    margin-right: auto!important;
 }
 .x-brand img {
    width: 168px!important;
    margin-left: 4vw;
    margin-top: 6px;
 }
 .x-phone-icon img {
   width: 36px;
   margin-top: 5px;
 }

}

@media (max-width:324px) {
 .x-brand {
    float: none;
    width: 160px;
    margin-left: auto!important;
    margin-right: auto!important;
 }
 .x-brand img {
    width: 148px!important;
    margin-left: 4vw;
    margin-top: 6px;
 }
 .x-phone-icon img {
    width: 32px;
    margin-top: 5px;
 }
}